name: Release

on:
    release:
        types: [published]

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
          contents: write
        steps:
            - name: checkout repository
              uses: actions/checkout@v4
            - name: validate gradle wrapper
              uses: gradle/actions/wrapper-validation@v4
            - name: setup jdk
              uses: actions/setup-java@v4
              with:
                java-version: '21'
                distribution: 'microsoft'
            - name: make gradle wrapper executable
              run: chmod +x ./gradlew
            - name: build
              run: ./gradlew build
            - name: Upload assets to GitHub and Modrinth
              uses: Kir-Antipov/mc-publish@v3.3
              with:
                modrinth-id: aNBxh5Uo
                modrinth-featured: false
                modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
                github-token: ${{ secrets.GITHUB_TOKEN }}
                loaders: |
                    fabric
                files: |
                  build/libs/!(*-@(dev-all|sources|javadoc)).jar